USE [master]
GO
/****** Object:  Database [OnlineBookStoreDB]    Script Date: 4/23/2019 2:51:13 PM ******/
CREATE DATABASE [OnlineBookStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineBookStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OnlineBookStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineBookStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OnlineBookStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineBookStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineBookStoreDB]
GO
/****** Object:  Table [dbo].[Tbl_AdminUser]    Script Date: 4/23/2019 2:51:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_AdminUser](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Address] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[UserName] [varchar](30) NULL,
	[Password] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Book]    Script Date: 4/23/2019 2:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Book](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[isbnNumber] [int] NULL,
	[Author] [varchar](30) NULL,
	[Page] [int] NULL,
	[Publisher] [varchar](50) NULL,
	[CoverPagePicture] [image] NULL,
	[BookName] [varchar](30) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customer]    Script Date: 4/23/2019 2:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customer](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Address] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[UserName] [varchar](30) NULL,
	[Password] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Magazine]    Script Date: 4/23/2019 2:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Magazine](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[issue] [varchar](30) NULL,
	[Type] [varchar](30) NULL,
	[MagazineName] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MusicCD]    Script Date: 4/23/2019 2:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MusicCD](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[Singer] [varchar](30) NULL,
	[Type] [varchar](30) NULL,
	[MusicName] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Product]    Script Date: 4/23/2019 2:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Product](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[price] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_AdminUser] ON 

INSERT [dbo].[Tbl_AdminUser] ([id], [Name], [Address], [Email], [UserName], [Password]) VALUES (1, N'Alaattin', N'asdasf', N'addidagli@gmail.com', N'addimarley', N'123')
INSERT [dbo].[Tbl_AdminUser] ([id], [Name], [Address], [Email], [UserName], [Password]) VALUES (2, N'Serhat', N'adsjkgah', N'serhat@gmail.com', N'serhat', N'123')
INSERT [dbo].[Tbl_AdminUser] ([id], [Name], [Address], [Email], [UserName], [Password]) VALUES (3, N'Seda', N'dsjbhak', N'seda@hotmail.com', N'seda', N'123')
SET IDENTITY_INSERT [dbo].[Tbl_AdminUser] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Book] ON 

INSERT [dbo].[Tbl_Book] ([id], [isbnNumber], [Author], [Page], [Publisher], [CoverPagePicture], [BookName]) VALUES (1, 123, N'Victor Hugo', 200, N'Seda Kaynar', NULL, N'Sefiller')
INSERT [dbo].[Tbl_Book] ([id], [isbnNumber], [Author], [Page], [Publisher], [CoverPagePicture], [BookName]) VALUES (2, 451651, N'Alexandre Dumas', 250, N'Someone', NULL, N'Monte Kristo Kontu')
SET IDENTITY_INSERT [dbo].[Tbl_Book] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Customer] ON 

INSERT [dbo].[Tbl_Customer] ([id], [Name], [Address], [Email], [UserName], [Password]) VALUES (1, N'Alaattin Dagli', N'okumus sok 18/19', N'addidagli@gmail.com', N'addi', N'123')
INSERT [dbo].[Tbl_Customer] ([id], [Name], [Address], [Email], [UserName], [Password]) VALUES (2, N'Serhat', N'sdfkjkah', N'serhatgun@gmail.com', N'serhatgun', N'111')
INSERT [dbo].[Tbl_Customer] ([id], [Name], [Address], [Email], [UserName], [Password]) VALUES (3, N'Fatih', N'adsfdklöçsas', N'fatix@gmail.com', N'Fatix', N'111')
SET IDENTITY_INSERT [dbo].[Tbl_Customer] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Magazine] ON 

INSERT [dbo].[Tbl_Magazine] ([id], [issue], [Type], [MagazineName]) VALUES (1, N'Yapay Zeka', N'Bilim', N'Level')
INSERT [dbo].[Tbl_Magazine] ([id], [issue], [Type], [MagazineName]) VALUES (2, N'Yazilim', N'Teknoloji', N'Tesla')
SET IDENTITY_INSERT [dbo].[Tbl_Magazine] OFF
SET IDENTITY_INSERT [dbo].[Tbl_MusicCD] ON 

INSERT [dbo].[Tbl_MusicCD] ([id], [Singer], [Type], [MusicName]) VALUES (1, N'Gökhan Türkmen', N'Pop', N'Dön')
INSERT [dbo].[Tbl_MusicCD] ([id], [Singer], [Type], [MusicName]) VALUES (2, N'Manga', N'Rock', N'Dursun Zaman')
INSERT [dbo].[Tbl_MusicCD] ([id], [Singer], [Type], [MusicName]) VALUES (3, N'Ceza', N'Rap', N'Medcezir')
SET IDENTITY_INSERT [dbo].[Tbl_MusicCD] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Product] ON 

INSERT [dbo].[Tbl_Product] ([id], [name], [price]) VALUES (1, N'1984', 20)
INSERT [dbo].[Tbl_Product] ([id], [name], [price]) VALUES (2, N'Sefiller', 25)
INSERT [dbo].[Tbl_Product] ([id], [name], [price]) VALUES (3, N'Tutunamayanlar', 30)
SET IDENTITY_INSERT [dbo].[Tbl_Product] OFF
USE [master]
GO
