<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnlineBookStore.Properties.Settings.OnlineBookStoreDBConnectionString"
            connectionString="Data Source=DESKTOP-9FKNVJM\SQLEXPRESS;Initial Catalog=OnlineBookStoreDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>